
     Program PWSCF v.6.1 starts on  8Jun2021 at  9:50:25 

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al., J. Phys.:Condens. Matter 21 395502 (2009);
          URL http://www.quantum-espresso.org", 
     in publications or presentations arising from this work. More details at
     http://www.quantum-espresso.org/quote

     Parallel version (MPI & OpenMP), running on      16 processor cores
     Number of MPI processes:                 2
     Threads/MPI process:                     8
     R & G space division:  proc/nbgrp/npool/nimage =       2
     Reading input from espresso.in

     Current dimensions of program PWSCF are:
     Max number of different atomic species (ntypx) = 10
     Max number of k-points (npk) =  40000
     Max angular momentum in pseudopotentials (lmaxx) =  3
               file Sn.pbe-dn-rrkjus_psl.1.0.0.UPF: wavefunction(s)  5S 4D renormalized

     gamma-point specific algorithms are used

     Subspace diagonalization in iterative solution of the eigenvalue problem:
     a serial algorithm will be used


     Parallelization info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Min         534     237     60                58687    17379    2200
     Max         535     238     61                58694    17382    2211
     Sum        1069     475    121               117381    34761    4411


     Title: 
     kpoint_1_1_1(SCF)                                                          


     bravais-lattice index     =            4
     lattice parameter (alat)  =       6.0325  a.u.
     unit-cell volume          =     796.7448 (a.u.)^3
     number of atoms/cell      =            6
     number of atomic types    =            3
     number of electrons       =        52.00
     number of Kohn-Sham states=           31
     kinetic-energy cutoff     =      47.0743  Ry
     charge density cutoff     =     423.6680  Ry
     convergence threshold     =      1.0E-06
     mixing beta               =       0.4000
     number of iterations used =            8  plain     mixing
     Exchange-correlation      =  SLA  PW   PBE  PBE ( 1  4  3  4 0 0)

     celldm(1)=   6.032459  celldm(2)=   0.000000  celldm(3)=   4.190882
     celldm(4)=   0.000000  celldm(5)=   0.000000  celldm(6)=   0.000000

     crystal axes: (cart. coord. in units of alat)
               a(1) = (   1.000000   0.000000   0.000000 )  
               a(2) = (  -0.500000   0.866025   0.000000 )  
               a(3) = (   0.000000   0.000000   4.190882 )  

     reciprocal axes: (cart. coord. in units 2 pi/alat)
               b(1) = (  1.000000  0.577350 -0.000000 )  
               b(2) = (  0.000000  1.154701  0.000000 )  
               b(3) = (  0.000000 -0.000000  0.238613 )  


     PseudoPot. # 1 for Sn read from file:
     C:\Users\ROG\.burai\.pseudopot/Sn.pbe-dn-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 9f7ad82915168e737b3f6a04b7e1f5ac
     Pseudo is Ultrasoft + core correction, Zval = 14.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1243 points,  6 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
                l(5) =   2
                l(6) =   2
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 2 for Se read from file:
     C:\Users\ROG\.burai\.pseudopot/Se.pbe-n-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 5f5e5c15c95449acb3b45b44a6529d2d
     Pseudo is Ultrasoft + core correction, Zval =  6.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1211 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 3 for W  read from file:
     C:\Users\ROG\.burai\.pseudopot/W.pbe-nsp-van.UPF
     MD5 check sum: bb4869ded537247882558ca8e5af5f09
     Pseudo is Ultrasoft + core correction, Zval = 14.0
     Generated by new atomic code, or converted to UPF format
     Using radial grid of  923 points,  6 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
                l(5) =   2
                l(6) =   2
     Q(r) pseudized with  6 coefficients,  rinner =    1.000   1.000   1.000
                                                       1.000   1.000

     atomic species   valence    mass     pseudopotential
        Sn            14.00   118.71000     Sn( 1.00)
        Se             6.00    78.96000     Se( 1.00)
        W             14.00   183.84000     W ( 1.00)

     Starting magnetic structure 
     atomic species   magnetization
        Sn           0.000
        Se           0.000
        W            0.200

     12 Sym. Ops. (no inversion) found ( 6 have fractional translation)



   Cartesian axes

     site n.     atom                  positions (alat units)
         1           Sn  tau(   1) = (  -0.0000006   0.5773501   3.1431600  )
         2           Se  tau(   2) = (   0.5000003   0.2886747   2.6531705  )
         3           Se  tau(   3) = (  -0.0000006   0.5773501   1.5377093  )
         4           Se  tau(   4) = (   0.5000003   0.2886747   3.6331491  )
         5           Se  tau(   5) = (  -0.0000006   0.5773501   0.5577306  )
         6           W   tau(   6) = (   0.5000003   0.2886747   1.0477201  )

     number of k points=     1  gaussian smearing, width (Ry)=  0.0100
                       cart. coord. in units 2pi/alat
        k(    1) = (   0.0000000   0.0000000   0.0000000), wk =   1.0000000

     Dense  grid:    58691 G-vectors     FFT dimensions: (  40,  40, 180)

     Smooth grid:    17381 G-vectors     FFT dimensions: (  27,  27, 120)

     Estimated max dynamical RAM per process >      43.86MB

     Estimated total allocated dynamical RAM >      87.71MB
     Generating pointlists ...
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    1
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    2
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    3

     Initial potential from superposition of free atoms

     starting charge   51.99782, renormalised to   52.00000
     Starting wfc are   38 randomized atomic wfcs

     total cpu time spent up to now is        4.0 secs

     Self-consistent Calculation

     iteration #  1     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.00E-02,  avg # of iterations =  2.0

     total cpu time spent up to now is        5.1 secs

     total energy              =    -402.25781290 Ry
     Harris-Foulkes estimate   =    -403.33239017 Ry
     estimated scf accuracy    <       2.18838005 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.77 Bohr mag/cell

     iteration #  2     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.21E-03,  avg # of iterations =  4.5

     total cpu time spent up to now is        6.1 secs

     total energy              =    -401.48776289 Ry
     Harris-Foulkes estimate   =    -403.87016961 Ry
     estimated scf accuracy    <      13.32695238 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.35 Bohr mag/cell

     iteration #  3     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.21E-03,  avg # of iterations =  5.0

     total cpu time spent up to now is        7.2 secs

     total energy              =    -400.51226204 Ry
     Harris-Foulkes estimate   =    -404.43872237 Ry
     estimated scf accuracy    <      92.20069858 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.24 Bohr mag/cell

     iteration #  4     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.21E-03,  avg # of iterations =  3.0

     total cpu time spent up to now is        8.1 secs

     total energy              =    -402.98930635 Ry
     Harris-Foulkes estimate   =    -402.99795174 Ry
     estimated scf accuracy    <       0.21330021 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.55 Bohr mag/cell

     iteration #  5     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.10E-04,  avg # of iterations =  3.0

     total cpu time spent up to now is        9.2 secs

     total energy              =    -403.00082536 Ry
     Harris-Foulkes estimate   =    -403.01615637 Ry
     estimated scf accuracy    <       0.37332864 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.43 Bohr mag/cell

     iteration #  6     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.10E-04,  avg # of iterations =  2.0

     total cpu time spent up to now is       10.2 secs

     total energy              =    -402.99907186 Ry
     Harris-Foulkes estimate   =    -403.00904581 Ry
     estimated scf accuracy    <       0.20576689 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.33 Bohr mag/cell

     iteration #  7     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.96E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is       11.2 secs

     total energy              =    -402.99829976 Ry
     Harris-Foulkes estimate   =    -403.00158976 Ry
     estimated scf accuracy    <       0.10403400 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.21 Bohr mag/cell

     iteration #  8     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  2.00E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is       12.2 secs

     total energy              =    -402.99505732 Ry
     Harris-Foulkes estimate   =    -402.99953659 Ry
     estimated scf accuracy    <       0.09002050 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.17 Bohr mag/cell

     iteration #  9     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.73E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is       13.2 secs

     total energy              =    -402.99006521 Ry
     Harris-Foulkes estimate   =    -402.99577556 Ry
     estimated scf accuracy    <       0.06726826 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.13 Bohr mag/cell

     iteration # 10     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.29E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is       14.2 secs

     total energy              =    -402.98707956 Ry
     Harris-Foulkes estimate   =    -402.99070224 Ry
     estimated scf accuracy    <       0.03958358 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.07 Bohr mag/cell

     iteration # 11     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  7.61E-05,  avg # of iterations =  1.0

     total cpu time spent up to now is       15.1 secs

     total energy              =    -402.98524367 Ry
     Harris-Foulkes estimate   =    -402.98744460 Ry
     estimated scf accuracy    <       0.02509716 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.03 Bohr mag/cell

     iteration # 12     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.83E-05,  avg # of iterations =  1.0

     total cpu time spent up to now is       16.1 secs

     total energy              =    -402.97901715 Ry
     Harris-Foulkes estimate   =    -402.98544010 Ry
     estimated scf accuracy    <       0.01630379 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration # 13     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.14E-05,  avg # of iterations =  3.5

     total cpu time spent up to now is       17.1 secs

     total energy              =    -402.98142625 Ry
     Harris-Foulkes estimate   =    -402.98143531 Ry
     estimated scf accuracy    <       0.00015708 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.05 Bohr mag/cell

     iteration # 14     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.02E-07,  avg # of iterations =  3.0

     total cpu time spent up to now is       18.1 secs

     total energy              =    -402.98131162 Ry
     Harris-Foulkes estimate   =    -402.98149675 Ry
     estimated scf accuracy    <       0.00038292 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.05 Bohr mag/cell

     iteration # 15     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.02E-07,  avg # of iterations =  3.0

     total cpu time spent up to now is       19.2 secs

     total energy              =    -402.98134424 Ry
     Harris-Foulkes estimate   =    -402.98175818 Ry
     estimated scf accuracy    <       0.00135092 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.02 Bohr mag/cell

     iteration # 16     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.02E-07,  avg # of iterations =  3.0

     total cpu time spent up to now is       20.2 secs

     total energy              =    -402.98149905 Ry
     Harris-Foulkes estimate   =    -402.98150708 Ry
     estimated scf accuracy    <       0.00001836 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.02 Bohr mag/cell

     iteration # 17     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.53E-08,  avg # of iterations =  3.0

     total cpu time spent up to now is       21.2 secs

     total energy              =    -402.98149933 Ry
     Harris-Foulkes estimate   =    -402.98151795 Ry
     estimated scf accuracy    <       0.00008446 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration # 18     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.53E-08,  avg # of iterations =  2.5

     total cpu time spent up to now is       22.2 secs

     total energy              =    -402.98150968 Ry
     Harris-Foulkes estimate   =    -402.98150910 Ry
     estimated scf accuracy    <       0.00000173 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration # 19     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.33E-09,  avg # of iterations =  2.5

     Magnetic moment per site:
     atom:    1    charge:   10.8631    magn:    0.0000    constr:    0.0000
     atom:    2    charge:    4.0373    magn:    0.0000    constr:    0.0000
     atom:    3    charge:    3.6528    magn:    0.0013    constr:    0.0000
     atom:    4    charge:    4.0372    magn:    0.0000    constr:    0.0000
     atom:    5    charge:    3.6524    magn:    0.0013    constr:    0.0000
     atom:    6    charge:   10.8840    magn:   -0.0024    constr:    0.0000

     total cpu time spent up to now is       23.2 secs

     End of self-consistent calculation

 ------ SPIN UP ------------


          k = 0.0000 0.0000 0.0000 (  2206 PWs)   bands (ev):

   -60.8547 -25.3901 -25.2446 -25.2446 -12.1621 -12.1621 -12.1289 -11.9534
   -11.9533  -5.7431  -5.2256  -3.7288  -2.5443   3.7560   4.5056   7.7145
     8.3386   8.3386   9.4606   9.4607   9.5131  11.0455  12.1572  12.1573
    13.5904  13.5904  14.1248  14.1249  14.4309  14.4487  14.4487

 ------ SPIN DOWN ----------


          k = 0.0000 0.0000 0.0000 (  2206 PWs)   bands (ev):

   -60.8577 -25.3943 -25.2487 -25.2487 -12.1621 -12.1621 -12.1289 -11.9534
   -11.9534  -5.7431  -5.2232  -3.7255  -2.5443   3.7560   4.5055   7.7152
     8.3383   8.3383   9.4608   9.4608   9.5136  11.0432  12.1572  12.1572
    13.5904  13.5904  14.1236  14.1236  14.4309  14.4493  14.4493

     the Fermi energy is    13.8573 ev

!    total energy              =    -402.98151005 Ry
     Harris-Foulkes estimate   =    -402.98151025 Ry
     estimated scf accuracy    <       0.00000080 Ry

     The total energy is the sum of the following terms:

     one-electron contribution =    -215.28198452 Ry
     hartree contribution      =     138.49741672 Ry
     xc contribution           =    -117.15755661 Ry
     ewald contribution        =    -209.03890463 Ry
     smearing contrib. (-TS)   =      -0.00048101 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     convergence has been achieved in  19 iterations

     Writing output data file espresso.save

     init_run     :      4.06s CPU      3.37s WALL (       1 calls)
     electrons    :     56.80s CPU     19.16s WALL (       1 calls)

     Called by init_run:
     wfcinit      :      0.14s CPU      0.07s WALL (       1 calls)
     potinit      :      1.11s CPU      0.82s WALL (       1 calls)

     Called by electrons:
     c_bands      :      3.34s CPU      2.35s WALL (      19 calls)
     sum_band     :     35.14s CPU      9.36s WALL (      19 calls)
     v_of_rho     :     10.34s CPU      3.33s WALL (      20 calls)
     newd         :      8.38s CPU      3.80s WALL (      20 calls)
     mix_rho      :      0.66s CPU      0.35s WALL (      19 calls)

     Called by c_bands:
     init_us_2    :      0.05s CPU      0.12s WALL (      78 calls)
     regterg      :      3.25s CPU      2.18s WALL (      38 calls)

     Called by sum_band:
     sum_band:bec :      0.00s CPU      0.01s WALL (      38 calls)
     addusdens    :     33.61s CPU      8.54s WALL (      19 calls)

     Called by *egterg:
     h_psi        :      2.61s CPU      1.35s WALL (     132 calls)
     s_psi        :      0.12s CPU      0.08s WALL (     132 calls)
     g_psi        :      0.02s CPU      0.00s WALL (      92 calls)
     rdiaghg      :      0.20s CPU      0.45s WALL (     130 calls)

     Called by h_psi:
     h_psi:pot    :      2.58s CPU      1.34s WALL (     132 calls)
     h_psi:calbec :      0.05s CPU      0.10s WALL (     132 calls)
     vloc_psi     :      2.41s CPU      1.16s WALL (     132 calls)
     add_vuspsi   :      0.12s CPU      0.08s WALL (     132 calls)

     General routines
     calbec       :      0.12s CPU      0.15s WALL (     170 calls)
     fft          :      2.89s CPU      1.70s WALL (     610 calls)
     ffts         :      0.11s CPU      0.06s WALL (      78 calls)
     fftw         :      2.56s CPU      1.09s WALL (    3442 calls)
     interpolate  :      0.41s CPU      0.39s WALL (      78 calls)

     Parallel routines
     fft_scatter  :      0.78s CPU      1.14s WALL (    4130 calls)

     PWSCF        :  1m 1.53s CPU     0m23.28s WALL


   This run was terminated on:   9:50:49   8Jun2021            

=------------------------------------------------------------------------------=
   JOB DONE.
=------------------------------------------------------------------------------=
