
     Program PWSCF v.6.1 starts on  8Jun2021 at  9:54:28 

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al., J. Phys.:Condens. Matter 21 395502 (2009);
          URL http://www.quantum-espresso.org", 
     in publications or presentations arising from this work. More details at
     http://www.quantum-espresso.org/quote

     Parallel version (MPI & OpenMP), running on      16 processor cores
     Number of MPI processes:                 2
     Threads/MPI process:                     8
     R & G space division:  proc/nbgrp/npool/nimage =       2
     Reading input from espresso.in

     Current dimensions of program PWSCF are:
     Max number of different atomic species (ntypx) = 10
     Max number of k-points (npk) =  40000
     Max angular momentum in pseudopotentials (lmaxx) =  3
               file Sn.pbe-dn-rrkjus_psl.1.0.0.UPF: wavefunction(s)  5S 4D renormalized

     Subspace diagonalization in iterative solution of the eigenvalue problem:
     a serial algorithm will be used


     Parallelization info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Min         534     237     75                58688    17375    2919
     Max         535     238     76                58693    17386    2920
     Sum        1069     475    151               117381    34761    5839


     Title: 
     kpoint_3_3_3(SCF)                                                          


     bravais-lattice index     =            4
     lattice parameter (alat)  =       6.0325  a.u.
     unit-cell volume          =     796.7448 (a.u.)^3
     number of atoms/cell      =            6
     number of atomic types    =            3
     number of electrons       =        52.00
     number of Kohn-Sham states=           31
     kinetic-energy cutoff     =      47.0743  Ry
     charge density cutoff     =     423.6680  Ry
     convergence threshold     =      1.0E-06
     mixing beta               =       0.4000
     number of iterations used =            8  plain     mixing
     Exchange-correlation      =  SLA  PW   PBE  PBE ( 1  4  3  4 0 0)

     celldm(1)=   6.032459  celldm(2)=   0.000000  celldm(3)=   4.190882
     celldm(4)=   0.000000  celldm(5)=   0.000000  celldm(6)=   0.000000

     crystal axes: (cart. coord. in units of alat)
               a(1) = (   1.000000   0.000000   0.000000 )  
               a(2) = (  -0.500000   0.866025   0.000000 )  
               a(3) = (   0.000000   0.000000   4.190882 )  

     reciprocal axes: (cart. coord. in units 2 pi/alat)
               b(1) = (  1.000000  0.577350 -0.000000 )  
               b(2) = (  0.000000  1.154701  0.000000 )  
               b(3) = (  0.000000 -0.000000  0.238613 )  


     PseudoPot. # 1 for Sn read from file:
     C:\Users\ROG\.burai\.pseudopot/Sn.pbe-dn-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 9f7ad82915168e737b3f6a04b7e1f5ac
     Pseudo is Ultrasoft + core correction, Zval = 14.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1243 points,  6 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
                l(5) =   2
                l(6) =   2
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 2 for Se read from file:
     C:\Users\ROG\.burai\.pseudopot/Se.pbe-n-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 5f5e5c15c95449acb3b45b44a6529d2d
     Pseudo is Ultrasoft + core correction, Zval =  6.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1211 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 3 for W  read from file:
     C:\Users\ROG\.burai\.pseudopot/W.pbe-nsp-van.UPF
     MD5 check sum: bb4869ded537247882558ca8e5af5f09
     Pseudo is Ultrasoft + core correction, Zval = 14.0
     Generated by new atomic code, or converted to UPF format
     Using radial grid of  923 points,  6 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
                l(5) =   2
                l(6) =   2
     Q(r) pseudized with  6 coefficients,  rinner =    1.000   1.000   1.000
                                                       1.000   1.000

     atomic species   valence    mass     pseudopotential
        Sn            14.00   118.71000     Sn( 1.00)
        Se             6.00    78.96000     Se( 1.00)
        W             14.00   183.84000     W ( 1.00)

     Starting magnetic structure 
     atomic species   magnetization
        Sn           0.000
        Se           0.000
        W            0.200

     12 Sym. Ops. (no inversion) found ( 6 have fractional translation)



   Cartesian axes

     site n.     atom                  positions (alat units)
         1           Sn  tau(   1) = (  -0.0000006   0.5773501   3.1431600  )
         2           Se  tau(   2) = (   0.5000003   0.2886747   2.6531705  )
         3           Se  tau(   3) = (  -0.0000006   0.5773501   1.5377093  )
         4           Se  tau(   4) = (   0.5000003   0.2886747   3.6331491  )
         5           Se  tau(   5) = (  -0.0000006   0.5773501   0.5577306  )
         6           W   tau(   6) = (   0.5000003   0.2886747   1.0477201  )

     number of k points=     6  gaussian smearing, width (Ry)=  0.0100
                       cart. coord. in units 2pi/alat
        k(    1) = (   0.0000000   0.0000000   0.0000000), wk =   0.0370370
        k(    2) = (   0.0000000   0.0000000   0.0795378), wk =   0.0740741
        k(    3) = (   0.0000000   0.3849002   0.0000000), wk =   0.2222222
        k(    4) = (   0.0000000   0.3849002   0.0795378), wk =   0.4444444
        k(    5) = (   0.3333333   0.5773503   0.0000000), wk =   0.0740741
        k(    6) = (   0.3333333   0.5773503   0.0795378), wk =   0.1481481

     Dense  grid:   117381 G-vectors     FFT dimensions: (  40,  40, 180)

     Smooth grid:    34761 G-vectors     FFT dimensions: (  27,  27, 120)

     Estimated max dynamical RAM per process >      82.62MB

     Estimated total allocated dynamical RAM >     165.23MB
     Generating pointlists ...
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    1
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    2
     new r_m :   0.3124 (alat units)  1.8843 (a.u.) for type    3

     Initial potential from superposition of free atoms

     starting charge   51.99782, renormalised to   52.00000
     Starting wfc are   38 randomized atomic wfcs

     total cpu time spent up to now is        5.1 secs

     Self-consistent Calculation

     iteration #  1     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.00E-02,  avg # of iterations =  2.4

     Threshold (ethr) on eigenvalues was too large:
     Diagonalizing with lowered threshold

     Davidson diagonalization with overlap
     ethr =  8.96E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is       12.0 secs

     total energy              =    -405.06069730 Ry
     Harris-Foulkes estimate   =    -405.24719342 Ry
     estimated scf accuracy    <       0.46749580 Ry

     total magnetization       =     0.22 Bohr mag/cell
     absolute magnetization    =     0.79 Bohr mag/cell

     iteration #  2     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  8.99E-04,  avg # of iterations =  4.8

     total cpu time spent up to now is       16.6 secs

     total energy              =    -404.22327751 Ry
     Harris-Foulkes estimate   =    -405.66965424 Ry
     estimated scf accuracy    <      17.20723420 Ry

     total magnetization       =     0.53 Bohr mag/cell
     absolute magnetization    =     0.56 Bohr mag/cell

     iteration #  3     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  8.99E-04,  avg # of iterations =  4.8

     total cpu time spent up to now is       21.1 secs

     total energy              =    -405.21402037 Ry
     Harris-Foulkes estimate   =    -405.22726373 Ry
     estimated scf accuracy    <       0.16404281 Ry

     total magnetization       =     0.22 Bohr mag/cell
     absolute magnetization    =     0.61 Bohr mag/cell

     iteration #  4     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.15E-04,  avg # of iterations =  2.4

     total cpu time spent up to now is       24.7 secs

     total energy              =    -405.21959956 Ry
     Harris-Foulkes estimate   =    -405.22625313 Ry
     estimated scf accuracy    <       0.14306087 Ry

     total magnetization       =     0.22 Bohr mag/cell
     absolute magnetization    =     0.53 Bohr mag/cell

     iteration #  5     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  2.75E-04,  avg # of iterations =  1.2

     total cpu time spent up to now is       28.0 secs

     total energy              =    -405.23020284 Ry
     Harris-Foulkes estimate   =    -405.22779807 Ry
     estimated scf accuracy    <       0.00792302 Ry

     total magnetization       =     0.01 Bohr mag/cell
     absolute magnetization    =     0.25 Bohr mag/cell

     iteration #  6     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.52E-05,  avg # of iterations =  2.5

     total cpu time spent up to now is       31.6 secs

     total energy              =    -405.23196415 Ry
     Harris-Foulkes estimate   =    -405.23120553 Ry
     estimated scf accuracy    <       0.00121398 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.14 Bohr mag/cell

     iteration #  7     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  2.33E-06,  avg # of iterations =  2.6

     total cpu time spent up to now is       35.3 secs

     total energy              =    -405.23226937 Ry
     Harris-Foulkes estimate   =    -405.23222571 Ry
     estimated scf accuracy    <       0.00025008 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.06 Bohr mag/cell

     iteration #  8     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  4.81E-07,  avg # of iterations =  2.1

     total cpu time spent up to now is       38.8 secs

     total energy              =    -405.23232783 Ry
     Harris-Foulkes estimate   =    -405.23229895 Ry
     estimated scf accuracy    <       0.00013315 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.04 Bohr mag/cell

     iteration #  9     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  2.56E-07,  avg # of iterations =  2.4

     total cpu time spent up to now is       42.3 secs

     total energy              =    -405.23234214 Ry
     Harris-Foulkes estimate   =    -405.23234539 Ry
     estimated scf accuracy    <       0.00005426 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration # 10     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  1.04E-07,  avg # of iterations =  1.7

     total cpu time spent up to now is       45.6 secs

     total energy              =    -405.23234058 Ry
     Harris-Foulkes estimate   =    -405.23234417 Ry
     estimated scf accuracy    <       0.00003033 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration # 11     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  5.83E-08,  avg # of iterations =  2.0

     total cpu time spent up to now is       49.0 secs

     total energy              =    -405.23233542 Ry
     Harris-Foulkes estimate   =    -405.23234174 Ry
     estimated scf accuracy    <       0.00001580 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.00 Bohr mag/cell

     iteration # 12     ecut=    47.07 Ry     beta=0.40
     Davidson diagonalization with overlap
     ethr =  3.04E-08,  avg # of iterations =  2.1

     Magnetic moment per site:
     atom:    1    charge:   10.9121    magn:   -0.0000    constr:    0.0000
     atom:    2    charge:    3.7754    magn:    0.0000    constr:    0.0000
     atom:    3    charge:    3.6537    magn:    0.0002    constr:    0.0000
     atom:    4    charge:    3.7754    magn:    0.0000    constr:    0.0000
     atom:    5    charge:    3.6537    magn:    0.0002    constr:    0.0000
     atom:    6    charge:   10.6041    magn:   -0.0006    constr:    0.0000

     total cpu time spent up to now is       52.5 secs

     End of self-consistent calculation

 ------ SPIN UP ------------


          k = 0.0000 0.0000 0.0000 (  4411 PWs)   bands (ev):

   -62.5188 -27.0129 -26.7039 -26.7039 -11.4186 -11.4186 -11.3218 -11.2058
   -11.2058  -6.3564  -4.5885  -3.8249  -2.8009   3.1758   4.3484   7.3742
     8.2116   8.2116   9.4247   9.5757   9.5757  10.8058  11.1897  11.1897
    12.2700  12.2700  14.0356  14.4522  14.4523  14.9127  14.9127

          k = 0.0000 0.0000 0.0795 (  4399 PWs)   bands (ev):

   -62.5188 -27.0129 -26.7039 -26.7039 -11.4186 -11.4186 -11.3218 -11.2058
   -11.2058  -6.3563  -4.5916  -3.8174  -2.8068   3.2393   4.2276   7.6439
     8.2116   8.2116   9.0301   9.5756   9.5757  10.9921  11.1898  11.1899
    12.2698  12.2698  14.0636  14.4521  14.4522  14.9129  14.9130

          k = 0.0000 0.3849 0.0000 (  4338 PWs)   bands (ev):

   -62.5058 -26.9719 -26.9575 -26.7656 -11.5352 -11.4410 -11.2459 -11.2071
   -11.1731  -4.3884  -2.9355  -2.1846  -1.9738   3.1950   4.8397   5.3944
     6.1695   6.2861   6.3356   7.9394   8.7545   8.8829   9.6240   9.6921
     9.8472  11.0990  12.8511  13.5552  13.8211  14.1294  14.9779

          k = 0.0000 0.3849 0.0795 (  4345 PWs)   bands (ev):

   -62.5058 -26.9719 -26.9575 -26.7656 -11.5352 -11.4410 -11.2459 -11.2071
   -11.1731  -4.3883  -2.9376  -2.1721  -1.9847   3.1954   4.8629   5.3643
     6.2150   6.2475   6.3169   7.9392   8.7554   9.0616   9.5126   9.6228
     9.8332  11.0996  12.8796  13.6790  13.8224  14.0303  14.9401

          k = 0.3333 0.5774 0.0000 (  4326 PWs)   bands (ev):

   -62.4993 -26.9746 -26.9296 -26.9267 -11.4680 -11.4090 -11.3455 -11.2658
   -11.1341  -2.4088  -1.7969  -1.6998  -0.5421   1.9850   3.8902   4.8573
     5.1898   5.2898   6.1507   6.6587   6.9993   7.2023   7.5213   8.7181
    10.7170  11.0785  12.7736  12.7891  12.7965  14.2768  15.4559

          k = 0.3333 0.5774 0.0795 (  4338 PWs)   bands (ev):

   -62.4993 -26.9746 -26.9297 -26.9267 -11.4680 -11.4090 -11.3455 -11.2658
   -11.1341  -2.4088  -1.7969  -1.6998  -0.5421   1.9851   3.8899   4.8588
     5.1969   5.2867   6.1467   6.6159   7.0125   7.2058   7.5721   8.6983
    10.6869  11.0879  12.7343  12.7736  12.8363  14.3876  15.3264

 ------ SPIN DOWN ----------


          k = 0.0000 0.0000 0.0000 (  4411 PWs)   bands (ev):

   -62.5187 -27.0136 -26.7044 -26.7044 -11.4186 -11.4186 -11.3218 -11.2058
   -11.2058  -6.3564  -4.5872  -3.8249  -2.7991   3.1759   4.3485   7.3745
     8.2110   8.2110   9.4259   9.5756   9.5757  10.8048  11.1897  11.1897
    12.2700  12.2700  14.0356  14.4530  14.4530  14.9136  14.9136

          k = 0.0000 0.0000 0.0795 (  4399 PWs)   bands (ev):

   -62.5187 -27.0136 -26.7044 -26.7044 -11.4186 -11.4186 -11.3218 -11.2058
   -11.2058  -6.3563  -4.5903  -3.8174  -2.8050   3.2394   4.2278   7.6440
     8.2110   8.2110   9.0314   9.5756   9.5757  10.9910  11.1898  11.1899
    12.2698  12.2698  14.0637  14.4529  14.4530  14.9138  14.9139

          k = 0.0000 0.3849 0.0000 (  4338 PWs)   bands (ev):

   -62.5057 -26.9725 -26.9582 -26.7662 -11.5352 -11.4410 -11.2459 -11.2071
   -11.1731  -4.3884  -2.9341  -2.1831  -1.9736   3.1951   4.8401   5.3945
     6.1704   6.2862   6.3360   7.9396   8.7545   8.8838   9.6247   9.6914
     9.8475  11.0990  12.8511  13.5547  13.8205  14.1292  14.9781

          k = 0.0000 0.3849 0.0795 (  4345 PWs)   bands (ev):

   -62.5057 -26.9725 -26.9582 -26.7662 -11.5352 -11.4410 -11.2459 -11.2071
   -11.1731  -4.3883  -2.9362  -2.1705  -1.9846   3.1954   4.8633   5.3644
     6.2159   6.2478   6.3174   7.9395   8.7554   9.0626   9.5125   9.6235
     9.8329  11.0996  12.8796  13.6784  13.8218  14.0302  14.9403

          k = 0.3333 0.5774 0.0000 (  4326 PWs)   bands (ev):

   -62.4992 -26.9752 -26.9304 -26.9273 -11.4680 -11.4090 -11.3455 -11.2658
   -11.1341  -2.4088  -1.7953  -1.6982  -0.5421   1.9850   3.8902   4.8581
     5.1904   5.2898   6.1521   6.6587   6.9997   7.2023   7.5228   8.7187
    10.7170  11.0782  12.7716  12.7891  12.7965  14.2770  15.4554

          k = 0.3333 0.5774 0.0795 (  4338 PWs)   bands (ev):

   -62.4992 -26.9752 -26.9304 -26.9273 -11.4680 -11.4090 -11.3455 -11.2658
   -11.1341  -2.4088  -1.7953  -1.6983  -0.5421   1.9851   3.8899   4.8596
     5.1975   5.2867   6.1481   6.6160   7.0129   7.2058   7.5736   8.6989
    10.6869  11.0875  12.7343  12.7716  12.8363  14.3878  15.3259

     the Fermi energy is    12.4999 ev

!    total energy              =    -405.23233772 Ry
     Harris-Foulkes estimate   =    -405.23233802 Ry
     estimated scf accuracy    <       0.00000058 Ry

     The total energy is the sum of the following terms:

     one-electron contribution =    -216.86133664 Ry
     hartree contribution      =     137.32283124 Ry
     xc contribution           =    -116.65477759 Ry
     ewald contribution        =    -209.03890463 Ry
     smearing contrib. (-TS)   =      -0.00015009 Ry

     total magnetization       =    -0.00 Bohr mag/cell
     absolute magnetization    =     0.00 Bohr mag/cell

     convergence has been achieved in  12 iterations

     Writing output data file espresso.save

     init_run     :      5.91s CPU      4.42s WALL (       1 calls)
     electrons    :    109.05s CPU     47.48s WALL (       1 calls)

     Called by init_run:
     wfcinit      :      1.70s CPU      0.83s WALL (       1 calls)
     potinit      :      1.06s CPU      0.83s WALL (       1 calls)

     Called by electrons:
     c_bands      :     35.03s CPU     24.60s WALL (      13 calls)
     sum_band     :     54.66s CPU     15.01s WALL (      13 calls)
     v_of_rho     :      7.39s CPU      2.32s WALL (      13 calls)
     newd         :     12.55s CPU      5.58s WALL (      13 calls)
     mix_rho      :      0.42s CPU      0.30s WALL (      13 calls)

     Called by c_bands:
     init_us_2    :      0.72s CPU      0.55s WALL (     324 calls)
     cegterg      :     33.81s CPU     23.55s WALL (     156 calls)

     Called by sum_band:
     sum_band:bec :      0.00s CPU      0.03s WALL (     156 calls)
     addusdens    :     47.25s CPU     11.35s WALL (      13 calls)

     Called by *egterg:
     h_psi        :     28.30s CPU     13.29s WALL (     552 calls)
     s_psi        :      1.20s CPU      1.30s WALL (     552 calls)
     g_psi        :      0.05s CPU      0.06s WALL (     384 calls)
     cdiaghg      :      1.75s CPU      5.14s WALL (     528 calls)

     Called by h_psi:
     h_psi:pot    :     28.14s CPU     13.11s WALL (     552 calls)
     h_psi:calbec :      1.70s CPU      1.44s WALL (     552 calls)
     vloc_psi     :     25.11s CPU     10.36s WALL (     552 calls)
     add_vuspsi   :      1.33s CPU      1.30s WALL (     552 calls)

     General routines
     calbec       :      2.25s CPU      2.05s WALL (     708 calls)
     fft          :      2.45s CPU      1.15s WALL (     401 calls)
     ffts         :      0.12s CPU      0.04s WALL (      52 calls)
     fftw         :     26.53s CPU      9.17s WALL (   27420 calls)
     interpolate  :      0.53s CPU      0.27s WALL (      52 calls)

     Parallel routines
     fft_scatter  :      2.03s CPU      2.88s WALL (   27873 calls)

     PWSCF        :  1m55.67s CPU     0m52.71s WALL


   This run was terminated on:   9:55:20   8Jun2021            

=------------------------------------------------------------------------------=
   JOB DONE.
=------------------------------------------------------------------------------=
